.bodyclass{
	margin:0px;
	background-repeat: no-repeat;
	background-size:1000px 500px;
}
.h1class{
	background-color: powderblue;
	font-weight: bold;
	text-align: center;
}
.h12{
	background-color: white;
}