.bodyclass{
	margin:0px;
	background-repeat: no-repeat;
	background-position: 360px 100px;
}
.h1class{
	background-color: powderblue;
	font-weight: bold;
	text-align: center;
}
.h12{
	background-color: white;
}